@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  padding: 2rem;
  background-color: #f7f7f7;
}

.header {
  border: 1 px solid blueviolet;
  height: 30vh;
  background-color: #fdf2e9;
}

.header h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 2rem;
  padding-top: 5rem;
  /* margin-top: 3rem; */
}

.card-info {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  width: 37.5rem;
  padding: 2rem;
  top: 43rem;
  transform: translateY(70%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.card-info div {
  font-size: 0.8rem;
}
.card-info div:first-of-type {
  width: 22rem;
}

.card-info div a:link,
.card-info div a:visited {
  text-decoration: none;
  color: #fff;
  background-color: #e67e22;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  transition: all 0.3s;
}

.card-info div a:hover,
.card-info div a:active {
  background-color: #cf711f;
}

.card-container {
  margin: 3rem 0rem;
  width: 37.5rem;
}
.card-container:hover .card-info,
.card-container:hover .card-info div a {
  visibility: visible;
  opacity: 1;
  transform: translateY(20%);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading__spinner {
  width: 50px;
  margin: 0 auto;
  height: 50px;
  border: 10px solid #555; /* Light grey */
  border-top: 10px solid var(--color-main); /* Black 383636 */
  border-radius: 50%;
  animation: spinner 0.8s linear infinite;
}

.card-display {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.details-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.details-box p {
  margin-bottom: 3rem;
  padding: 1rem 2rem;
  background-color: #555;
  color: #fff;
  font-size: 1rem;
}
.details-box__1 {
  margin-left: 3rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.btn {
  padding: 0.4rem 1.8rem;
  background-color: #e67e22;
  color: #fff;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
}

.btn:hover {
  background-color: #cf711f;
  cursor: pointer;
}

.popup {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid;
  background-color: rgba(102, 102, 102, 0.678);
  /* transition: all 0.3s; */
}

.popup__form {
  width: 70%;
  padding: 2rem;
  background-color: #fff;
  /* height: 20rem; */
  border-radius: 3px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.24);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transition: all 0.3s; */
}

label {
  font-size: 1.3rem;
  margin-right: 0.6rem;
}
input {
  font-size: 1.2rem;
  padding: 0.2rem 0.4rem;
}

input:focus {
  outline: none;
}

form div {
  margin: 0 auto;
  width: 40rem;
  text-align: center;
  padding: 1rem;
}

.page-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  /* justify-content: space-between; */
}
.page-item {
  /* border: 1px solid red; */
  list-style: none;
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  margin: 0.5rem;
  border: 1px solid #e67e22;
}

.page-item a {
  text-decoration: none;
  color: #555;
}